@import url("https://fonts.googleapis.com/css2?family=Poppinsdisplay=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "Poppins";
}

.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .background {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(./images/mystery_shack.png);
  height: 75vh;
  width: 100%;
  padding: 10px;
}

.container .info {
  display: none;
}

.container img {
  display: none;
}

.container .info.active {
  display: block;
  width: 450px;
  padding: 25px;
  font-size: 20px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.8);
  animation: slide-left 0.5s linear;
}

.container img.active {
  display: block;
  width: 18%;
  animation: slide-right 0.5s linear;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  width: 100%;
  background-color: #000;
  gap: 20px;
}

button {
  width: 100px;
  height: 100px;
  border: solid #414040 1px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(100, 99, 99);
  cursor: pointer;
}

@keyframes slide-right {
  from {
    transform: translateX(20px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-20px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
